<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/assets/img/mstile-70x70.png" width="30" height="30" class="d-inline-block align-top" alt="FrontEnd Veículos"> FrontEnd Veiculos
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="veiculos">Listagem
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="veiculos/new">Cadastro</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>