<div class="row">
    <div class="col-12 margin-b-20">
        <h3>
            <!-- Lista de Veiculos -->
        </h3>

        <table class="table table-hover margin-t-20">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Veiculo</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Ano</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Vendido</th>
                    <th scope="col">Registro</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let v of veiculos">
                    <td>{{v?.id}}</td>
                    <td>{{v?.veiculo}}</td>
                    <td>{{v?.marca}}</td>
                    <td>{{v?.ano}}</td>
                    <td>{{v?.descricao}}</td>
                    <td>{{v?.vendido}}</td>
                    <td>{{v?.ano}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>