<div class="row">
    <div class="col-10 offset-md-1 margin-b-20">
        <h3>
            <!-- Lista de Veiculos -->
        </h3>

        <table class="table table-hover margin-t-20">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Veiculo</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Ano</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Vendido</th>
                    <th scope="col">Data de registro</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>