/* You can add global styles to this file, and also import other style files */

.margin-t-10 {
    margin-top: 10px;
}

.margin-t-20 {
    margin-top: 20px;
}

.margin-b-20 {
    margin-bottom: 20px;
}