<div class="col-md-10 offset-md-1 margin-t-30">
    <h3>
        Cadastro de veiculo
    </h3>

    <form (ngSubmit)="onSubmit()" #veiculoForm="ngForm">
        <div class="form-group">
            <label for="veiculo">Veiculo:</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': veiculo.invalid && veiculo.touched, 'is-valid': veiculo.valid && veiculo.touched }" id="veiculo" name="veiculo"
                [(ngModel)]="model.veiculo" #veiculo="ngModel" aria-describedby="emailHelp" placeholder="Digite o nome do veiculo"
                required>
        </div>

        <div class="form-group">
            <label for="descricao">Descrição:</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': descricao.invalid && descricao.touched, 'is-valid': descricao.valid && descricao.touched }" id="descricao" name="descricao"
                [(ngModel)]="model.descricao" #descricao="ngModel" placeholder="Digite sua descrição." required>
        </div>

        <div class="row">
            <div class="col">
                <label for="marca">Marca:</label>
                <input type="text" class="form-control" [ngClass]="{'is-invalid': marca.invalid && marca.touched, 'is-valid': marca.valid && marca.touched }" id="marca" name="marca"
                    [(ngModel)]="model.marca" #marca="ngModel" placeholder="Qual a Marca?" required>
            </div>
            <div class="col">
                <label for="ano">Ano:</label>
                <input type="number" class="form-control" [ngClass]="{'is-invalid': ano.invalid && ano.touched, 'is-valid': ano.valid && ano.touched }" id="ano" name="ano"
                    [(ngModel)]="model.ano" #ano="ngModel" min="1990" max="2019" required>
            </div>
        </div>

        <div class="form-group form-check margin-t-3">
            <input type="checkbox" class="form-check-input" id="vendido" name="vendido" [(ngModel)]="model.vendido">
            <label class="form-check-label" for="vendido">Já foi vendido?</label>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!veiculoForm.form.valid || isBusy">
            <i *ngIf="isBusy" class="fas fa-sync-alt rotating"></i>
            <i *ngIf="!isBusy" class="far fa-save"></i> Cadastrar
        </button>

        <button type="button" class="btn btn-secondary margin-l-5" routerLink="../" [disabled]="isBusy">
            <i class="fas fa-times"></i> Cancelar
        </button>

    </form>
</div>